@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply antialiased;

    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  html {
    @apply text-base;
  }

  body {
    @apply relative;
  }

  /* Safari 14 Bug 
  More info: https://stackoverflow.com/a/57529046 */
  img {
    @apply self-center;
  }

  svg {
    @apply self-center;
  }
  /* Safari 14 Bug */
}

.item {
  @apply outline-none border rounded focus:border-slate-300 focus:shadow-sm transition;
}

button {
  @apply item text-center rounded-lg px-5 py-2 cursor-pointer hover:opacity-80 transition hover:shadow-sm disabled:opacity-50 disabled:bg-slate-100 disabled:text-gray-500 font-semibold #{!important};

  &.primary {
    @apply text-white border-none shadow-lg shadow-primary-100 bg-primary-700;
  }
}

label {
  @apply mb-1 font-medium;
}

select,
input[type="email"],
input[type="number"],
input[type="password"],
input[type="date"],
input[type="text"] {
  @apply item px-3 py-2 #{!important};
}

.disabled {
  @apply bg-gray-100 text-gray-400;
}

.notification {
  @apply bg-gray-100 text-gray-800 border-gray-800 rounded-lg py-2 px-4;

  &.success {
    @apply bg-green-100 text-green-800 border-green-800;
  }

  &.error {
    @apply bg-red-100 text-red-800 border-red-800;
  }
}

/* Carousel */
.carousel-images {
  position: relative;
  border-radius: 10px;
  height: 400px;
  max-width: 650px;
  margin: auto;
  overflow: hidden;
}
.carousel-images img {
  width: 99%;
  height: 99%;
  border-radius: 8px;
  border: #ff00008e solid 2px;
}
.slide_direction {
  display: flex;
  justify-content: space-between;
}
.left,
.right {
  display: flex;
  justify-content: center;
  background-color: #fb666675;
  color: #fff;
  padding: 10px 8px 8px 13px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 20px;
  height: 25px;
  width: 25px;
}
.left {
  left: 0;
}
.right {
  right: 0;
}
.carousel-indicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.dot {
  background-color: #333;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.active {
  background-color: #fa2020;
}
